<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets</title>
</head>
<body>
<!-- /*@thymesVar id="v" type="com.springpetclinic.data.model.Vet" */-->
    <h1 th:text="'List of vets'">List of vets</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px">ID</th>
            <th style="width: 150px">First Name</th>
            <th style="width: 150px">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="v: ${vets}">
            <td th:text="${v.id}"></td>
            <td th:text="${v.firstName}"></td>
            <td th:text="${v.lastName}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>